<div class="block">
    <div class="post-header">
        <div style="display:flex;">
            {% if not note.group %}
                <a href="{% url 'profile' note.author.username %}" class="image-href">
                    <img src="{{ note.author.avatar.url }}">
                </a>
                <div style="display: flex; flex-direction: column">
                    <a href="{% url 'profile' note.author.username %}" class="blue-underline-href"
                       style="margin-top:20px; margin-left:10px;">
                        <span>{{ note.author.first_name }} {{ note.author.last_name }}</span>
                    </a>
                    <span style="color:grey; margin-left:10px">
                        {{ note.post_time }}
                    </span>
                </div>
            {% else %}
                <a href="{% url 'group' note.group.short_name %}" class="image-href">
                    <img src="{{ note.group.avatar.url }}">
                </a>
                <div style="display: flex; flex-direction: column">
                    <a href="{% url 'group' note.group.short_name %}" class="blue-underline-href"
                       style="margin-top:20px; margin-left:10px;">
                        <span>{{ note.group.title }}</span>
                    </a>
                    <span style="color:grey; margin-left:10px">
                        {{ note.post_time }}
                    </span>
                </div>
            {% endif %}


        </div>

        {% if url != 'note' and owner or admin %}<!Переделать>
            <div class="note-action-dropdown">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="note-action-content">
                    <a href="{% url 'delete_note' note.pk back_url name %}" style="margin-top: 5px;">
                        delete note
                    </a>

                    <a href="{% url 'comment' note.pk back_url name %}">
                        {% if note.can_comment %}
                            disable comments
                        {% else %}
                            enable comments
                        {% endif %}
                    </a>

                </div>
            </div>
        {% endif %}

    </div>

    <div class="post-container">
        {% if url != 'note' %}
            <a href="{% url 'note' note.pk back_url name %}" style="text-decoration: none; color:black">
                <label>
                    {{ note.text }}
                </label>
                {% if note.image1 %}
                    <div style="display:flex">
                        {% if note.image2 %}
                            <img class="post-image1" src="{{ note.image1.url }}">
                        {% else %}
                            <img class="post-image1-wide" src="{{ note.image1.url }}">
                        {% endif %}
                        <div>
                            {% if note.image2 %}
                                <img class="post-image2" style="margin-bottom:0px; margin-top:0;"
                                     src="{{ note.image2.url }}">
                                {% if note.image3 %}
                                    <img class="post-image2" style="margin-top:7px" src="{{ note.image3.url }}">
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </a>
        {% else %}
            <label>
                {{ note.text }}
            </label>
            {% if note.image1 %}
                <div style="display:flex">
                    {% if note.image2 %}
                        <img class="post-image1" src="{{ note.image1.url }}">
                    {% else %}
                        <img class="post-image1-wide" src="{{ note.image1.url }}">
                    {% endif %}
                    <div>
                        {% if note.image2 %}
                            <img class="post-image2" style="margin-bottom:0px; margin-top:0px;"
                                 src="{{ note.image2.url }}">
                            {% if note.image3 %}
                                <img class="post-image2" style="margin-top:7px" src="{{ note.image3.url }}">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>

    <div class="post-buttons top-line bottom-line ">
        <a href="{% url 'like' note.pk back_url name %}" class="post-button">

            {% if request.user.id in note.liked %}
                <i class="fa fa-heart" aria-hidden="true" style="color:#ff0000"></i>
                <span style="color:#ff0000">{{ note.like_set.all.count }}</span>
            {% else %}
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <span>{{ note.like_set.all.count }}</span>
            {% endif %}

            {% if note.liked_6 %}
                <div class="like-dropdown-content">
                    <span>People like</span>
                    <div>
                        {% for user in note.liked_6 %}
                            <a href="{% url 'profile' user.username %}" class="liked-image-href">
                                <img src="{{ user.avatar.url }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

        </a>


        <a href="" class="post-button">
            <i class="fa fa-comment-o post-button" aria-hidden="true"></i>
            <span>
                        {% if note.comment_set.count %}
                            {{ note.comment_set.count }}
                        {% endif %}
                    </span>
        </a>

        <a href="" class="post-button">
            <i class="fa fa-share post-button" aria-hidden="true"></i>
        </a>
    </div>

    <div class="comments-container">
        {% for comment in note.comment_set.all %}
            <div class="comment-header">
                <div style="display:flex; margin-top: 10px">
                    <a href="{% url 'profile' comment.author %}" class="image-href-small" style="margin-top: 10px;">
                        <img src="{{ comment.author.avatar.url }}">
                    </a>
                    <a href="{% url 'profile' comment.author %}" class="blue-underline-href"
                       style="margin-top:10px; margin-left:-20px;">
                        <span>{{ comment.author.first_name }} {{ comment.author.last_name }}</span>
                    </a>
                </div>
                <span style="color:grey">
                        {{ comment.post_time }}
                    </span>
            </div>

            <div class="comment-body">
                    <span>
                       {{ comment.text }}
                    </span>
                {% if comment.image %}
                    <img src="{{ comment.image.url }}">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if note.can_comment %}
        <div class="leave-comment top-line">
            <form class="comment-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="comment-input" type="text" placeholder="Leave comment" name="text" id="text">

                <label class="label border-right">
                        <span class="title">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </span>
                    <input class="invisible" type="file" name="img" id="img">
                </label>

                <label class="label" style="margin-right:auto">
                        <span class="title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>

                        </span>
                    <input class="invisible" type="submit">
                </label>
                <input style="width:1%;" class="invisible" type="text" value="{{ note.id }}" name="form" id="form">
            </form>
        </div>
    {% endif %}
</div>