<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "news/news.html" %}
    {%load static%}
</head>
<body>
{%block body%}
<div class="container2">
    <div class="column1">
        <div class="block">
            <div class="user-avatar">
                <img src="{{user.avatar.url}}">
            </div>
            {%if owner%}
            <a href="{%url 'redact' user.username%}" class="button-href muted-button">Redact</a>
            {%else%}
            <a href class="button-href blue-button2"><!Ссылка на сообщения>
                Send message
            </a>
            <br>
            {%if request.user in friends%}
            <a href="{%url 'add_friend' username=user.username operation='remove'%}" class="button-href blue-button2">
                Remove friend
            </a>
            {%else%}
            <a href="{%url 'add_friend' username=user.username operation='add'%}" class="button-href blue-button2">
                Add friend
            </a>
            {%endif%}
            {%endif%}
        </div>

        {%if request.user in friends or not user.closed or owner%}
        <div class="block" style="text-align:left;">
            <span>
                Friends <label style="color:grey">{{friends.count}}</label>
            </span>

            <div class="friend-list bottom-line" style="margin-bottom: 10px;">
                {%for friend in friends%}
                <a href="{%url 'profile' friend.username%}" class="blue-underline-href image-href">
                    <img src="{{friend.avatar.url}}">
                    {{friend.first_name}}
                </a>
                {%endfor%}
            </div>
            {%if not owner%}
            {%if common_friends%}
            <span>
                Common friends <label style="color:grey">{{common_friends|length}}</label>
            </span>


            <div class="friend-list">
                {%for friend in common_friends%}
                <a href="{%url 'profile' friend.username%}" class="blue-underline-href image-href">
                    <img src="{{friend.avatar.url}}">
                    {{friend.first_name}}
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% endif %}
        </div>
        {% endif %}

        {% if request.user in friends or not user.closed or owner %}
            <div class="block" style="text-align:left;">
                <span>Subscribe <label style="color:grey">{{ groups.count }}</label></span>
                {% for group in groups %}
                    <div class="row1">
                        <a href="{% url 'group' group.short_name %}" class="image-href">
                            <img src="{{ group.avatar.url }}">
                        </a>
                        <div class="group-small-info">
                            <a href="{% url 'group' group.short_name %}" class="blue-underline-href">
                                {{ group.title }}
                            </a>
                            <span style="color:grey"> {{ group.current_info }} </span>
                        </div>
                    </div>
                {% endfor %}

            </div>
        {% endif %}
    </div>

    <div class="column2">
        <div class="block">
            <div class="profile-current-info">

                <div>
                    <span style="font-size:26px;">{{user.first_name}} {{user.last_name}}</span>
                    <label>{{time_delta}}</label>
                </div>
                <span>
                    {%if user.current_info%}
                        {{user.current_info}}
                    {%endif%}
                </span>
            </div>

            <div class="profile-info bottom-line top-line" style="padding-top:5px;">
                <span>
                    Birthday:
                </span>
                <label>{{user.birthday}}</label>
            </div>

            {%if user.city%}
            <div class="profile-info bottom-line">
                <span>
                    City:
                </span>
                <label>{{user.city}}</label>
            </div>
            {%endif%}

            {%if user.phone_number%}
            <div class="profile-info bottom-line">
                <span>
                    Phone number:
                </span>
                <label>{{user.phone_number}}</label>
            </div>
            {%endif%}

            {%if user.work%}
            <div class="profile-info bottom-line">
                <span>
                    Work:
                </span>
                <label>{{user.work}}</label>
            </div>
            {%endif%}

            {%if user.study%}
            <div class="profile-info bottom-line">
                <span>
                    Education:
                </span>
                <label>{{user.study}}</label>
            </div>
            {%endif%}


            <div class="profile-buttons">
                <a class="page-counter" href>
                    <div class="counter">
                        {{friends.count}}
                    </div>
                    <label>
                        friends
                    </label>
                </a>

                <a class="page-counter" href>
                    <div class="counter">
                        7
                    </div>
                    <label>
                        photos
                    </label>
                </a>
                <a class="page-counter" href>
                    <div class="counter">
                        {{ groups.count }}
                    </div>
                    <label>
                        groups
                    </label>
                </a>
            </div>
        </div>

        {%if request.user in friends or not user.closed or owner%}
        <div class="block">
            <div class="small-info">
                My photos
                <span>7</span>
            </div>

            <div>
                <!цикл>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <a href class="medium-image-href">
                    <img src="{% static 'images/user.jpg' %}">
                </a>
                <a href class="medium-image-href">
                    <img src="{% static 'images/user.jpg' %}">
                </a>
            </div>
        </div>

            {% if owner %}
                <div class="block">
                    <a href="{% url 'add_note' 'profile' %}" class="blue-underline-href">+ Add note</a>
                </div>
            {% endif %}

            {% for note in notes %}
                {% include 'news/note_pattern.html' %}
            {% endfor %}

        {% else %}<!Закрытый аккаунт>
            <div class="block">
                <div style="display:flex; flex-direction:column">
                    <label style="font-size:30px; color:#828282;">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </label>
                    <span>
                        <b>This is a private profile</b>
                    </span>

                    <span style="margin-top:10px;">
                        Add {{user.first_name}} as friend to watch her posts, photos and other materials
                    </span>
                </div>
            </div>

        {%endif%}


    </div>
</div>
{%endblock%}
</body>
</html>