<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% extends "news/news.html" %}
    {%load static%}
</head>
<body>
{%block body%}
<div class="container2">
    <div class="column1">
        <div class="block">
            <div class="user-avatar">
                <img src="{{user.avatar.url}}">
            </div>
            <a href="{%url 'redact' user.username%}" class="button-href muted-button">Redact</a>
        </div>

        <div class="block" style="text-align:left;">
            <span>
                Friends <label style="color:grey">69</label>
            </span>

            <div class="friend-list bottom-line" style="margin-bottom:10px;">
                <!цикл>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
            </div>

            <span>
                Friends online <label style="color:grey">69</label>
            </span>

            <div class="friend-list">
                <!цикл>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
                <a href class="blue-underline-href image-href">
                    <img src="{%static 'images/user.jpg'%}">
                    Alina
                </a>
            </div>

        </div>

        <div class="block" style="text-align:left;">
            <span s>Subscribe <label style="color:grey">46</label></span>
            <!цикл>
            <div class="row1">
                <a href class="image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <div class="group-small-info">
                    <a href class="blue-underline-href">
                        Картинки категории Б
                    </a>
                    <span style="color:grey">Шутим как можем </span>
                </div>

            </div>
            <div class="row1">
                <a href class="image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <div class="group-small-info">
                    <a href class="blue-underline-href">
                        Картинки категории Б
                    </a>
                    <span style="color:grey">Шутим как можем </span>
                </div>

            </div>
            <div class="row1">
                <a href class="image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <div class="group-small-info">
                    <a href class="blue-underline-href">
                        Картинки категории Б
                    </a>
                    <span style="color:grey">Шутим как можем </span>
                </div>

            </div>

        </div>

    </div>

    <div class="column2">
        <div class="block">
            <div class="profile-current-info bottom-line">

                <div>
                    <span style="font-size:26px;">{{user.first_name}} {{user.last_name}}</span> <label>{{user.time_join}}</label>
                </div>
                <span>
                    {%if user.current_info%}
                        {{user.current_info}}
                    {%endif%}
                </span>
            </div>
            <div class="profile-info bottom-line">
                <span>
                    birthday:
                </span>
                <label>{{user.birthday}}</label>
            </div>

            <div class="profile-buttons">
                <a class="page-counter" href>
                    <div class="counter">
                        69
                    </div>
                    <label>
                        friends
                    </label>
                </a>

                <a class="page-counter" href>
                    <div class="counter">
                        7
                    </div>
                    <label>
                        photos
                    </label>
                </a>
                <a class="page-counter" href>
                    <div class="counter">
                        46
                    </div>
                    <label>
                        groups
                    </label>
                </a>
            </div>
        </div>

        <div class="block">
            <div class="small-info">
                My photos
                <span>7</span>
            </div>

            <div>
                <!цикл>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
                <a href class="medium-image-href">
                    <img src="{%static 'images/user.jpg'%}">
                </a>
            </div>
        </div>

        <div class="block">
            <a href class="blue-underline-href">+ Add note</a>
        </div>


        {%for note in notes%}
        <div class="block">
            <div class="post-header">
                <div style="display:flex;">
                    <a href="{%url 'profile' user%}" class="image-href">
                        <img src="{{user.avatar.url}}">
                    </a>
                    <a href="{%url 'profile' user%}" class="blue-underline-href"
                       style="margin-top:20px; margin-left:10px;">
                        <span>{{user.first_name}} {{user.last_name}}</span>
                    </a>
                </div>

                <span style="color:grey">
                    {{note.post_time}}
                </span>
            </div>
            <div class="post-container">
                <label>
                    {{note.text}}
                </label>
                {%if note.image1%}
                <div style="display:flex">
                    {%if note.image2%}
                    <img class="post-image1" src="{{note.image1.url}}">
                    {%else%}
                    <img class="post-image1-wide" src="{{note.image1.url}}">
                    {%endif%}
                    <div>
                        <img class="post-image2" src="{{note.image2.url}}">
                        <img class="post-image2" src="{{note.image3.url}}">
                    </div>

                </div>
                {%endif%}
            </div>

            <div class="post-buttons top-line bottom-line">
                <a href="" class="post-button">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <span>35</span>
                </a>

                <a href="" class="post-button">
                    <i class="fa fa-comment-o post-button" aria-hidden="true"></i>
                    <span>
                        {%if note.comment_set.count%}
                            {{note.comment_set.count}}
                        {%endif%}
                    </span>
                </a>

                <a href="" class="post-button">
                    <i class="fa fa-share post-button" aria-hidden="true"></i>
                </a>
            </div>

            <div class="comments-container">
                {%for comment in note.comment_set.all%}
                <div class="comment-header">
                    <div style="display:flex;">
                        <a href="{%url 'profile' user%}" class="image-href-small">
                            <img src="{{user.avatar.url}}">
                        </a>
                        <a href="{%url 'profile' user%}" class="blue-underline-href"
                           style="margin-top:10px; margin-left:-20px;">
                            <span>{{user.first_name}} {{user.last_name}}</span>
                        </a>
                    </div>
                    <span style="color:grey">
                        {{comment.post_time}}
                    </span>
                </div>

                <div class="comment-body">
                    <span>
                       {{comment.text}}
                    </span>
                    {%if comment.image%}
                    <img src="{{comment.image.url}}">
                    {%endif%}
                </div>
                {%endfor%}
            </div>
            {%if note.can_comment%}
            <div class="leave-comment top-line">
                <form class="comment-form" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    <input class="comment-input" type="text" placeholder="Leave comment" name="text" id="text">

                    <label class="label border-right">
                        <span class="title">
                            <i class="fa fa-camera" aria-hidden="true"></i>
                        </span>
                        <input class="invisible" type="file" name="img" id="img">
                    </label>

                    <label class="label" style="margin-right:auto">
                        <span class="title">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>

                        </span>
                        <input class="invisible" type="submit">
                    </label>
                    <input style="width:1%;" class="invisible" type="text" value="{{note.id}}" name="form" id="form">
                </form>
            </div>
            {%endif%}
        </div>
        {%endfor%}

    </div>
</div>
{%endblock%}
</body>
</html>