<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main-container">
    <div class="inner-container">
        <span>Write your new password</span>

        <form method="post">
            {%csrf_token%}
            <br>
            <input type="password" placeholder="Password" class="input1" name="password" id="password">
            <input type="password" placeholder="Confirm password" class="input1" name="password-confirm"
                   id="password-confirm">
            <input type="submit" value="Change password" class="input1 blue-button">
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {%if message.tags%} class="{{ message.tags }}" {%endif%}>{%autoescape off%}{{message}}{%endautoescape%}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

</body>
</html>