<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="main-container">
    <div class="inner-container">
        <span><b>Forgot your account?</b><br>
              write your username and we will send you an email with recovery
        </span>
        <form method="post">
            {%csrf_token%}
            <input class="input1" type="text" placeholder="Username" required="required" name="username"
                   id="username"><br>
            <input class="input1 blue-button" type="submit" value="Recover">
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {%if message.tags%} class="{{ message.tags }}" {%endif%}>{%autoescape off%}{{message}}{%endautoescape%}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>


</body>
</html>